/**
* CONTENITORE DELLE CARTE
*/
.article-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*
*   CONTENITORE BASE DELLA SINGOLA CARTA
*/

.wineCard {
    display: inline-block;
    position: relative;
    background-color: white;
    width: 88%;
    min-width: 250px;
    max-width: 340px;
    margin: 6%;
    box-shadow: 0px 4px 5px 3px grey;
}

.wineCard  a {
    color: inherit;
    min-height: 240px;
    text-decoration: inherit;
}

.wineCard-Container {
    box-sizing: border-box;
    height: 100%;

    width: 100%;
    margin: 0px;
    padding: 0px;

    display: grid;
    grid-template-columns: 35% 65%;
    grid-gap: 0px;

    justify-content: center;
    align-items: center;
}

.wineCard-Container > * {
    height: 100%;
}

.fotoVino {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 270px;
    height: 100%;
    max-width: 100%;
    object-fit:cover;
    box-sizing: border-box;
}

article.wineCard .etichetta.Rosso {
    border-left: 10px solid #690b22;
}
article.wineCard .etichetta.Rosato {
    border-left: 10px solid #b46271;
}
article.wineCard .etichetta.Bianco {
    border-left: 10px solid #987254;
}

article.wineCard * {
    color: var(--text-dark);
}

article.wineCard .etichetta {
    height: 100%;
    padding: 0% 3% 0%;
    display: grid;

    grid-template-areas:
        'cant   cant    cant'
        'info   info    info'
        'nome   nome    nome'
        'nome   nome    nome'
        'orig   orig    orig'
        'cert   cert    cert'
        'anno   anno    anno'
        'rewi   rewi    rewi'
        'cost   cost    hear'
        'pres   pres    hear';
}

article.wineCard .etichetta > * {
    text-align: center;
}

/* cantina */
article.wineCard .etichetta > h4 {
    grid-area: cant;
    border-bottom: 1px solid;
    width: 100%;
}

/* capienza e percentuale alcol */
.LiterVol {
    grid-area: info;
    display: flex;
    justify-content: space-between;
}

/* nome del vino */
article.wineCard .etichetta > h3 {
    grid-area: nome;
}

/* origine */
article.wineCard .etichetta > p.origine{
    grid-area: orig;
}

/* eventuale certificato */
article.wineCard .etichetta > p.certificato{
    grid-area: cert;
}

/* eventuale annata */
article.wineCard .etichetta > p.annata {
    grid-area: anno;
}

/* immagine recensione */
article.wineCard .etichetta > img {
   grid-area: rewi;
   width: 50%;
   min-height: 15px;
   margin-left: auto;
   margin-right: auto;
}

article.wineCard .etichetta > h5:first-of-type{
    text-align: left;
    border: 1px black solid;
}

article.wineCard .etichetta > h5:last-of-type {
    text-align: right;
    border: 1px black solid;
}

/* prezzo */
article.wineCard .etichetta > h6 {
    grid-area: cost;
    text-align: left;
}

/* disponibilità */
article.wineCard .etichetta > p:last-of-type {
    grid-area: pres;
    font-size: 16px;
    text-align: left;
}

article.wineCard > button {
    position: absolute;
    bottom: 5%;
    right: 10px;
    height: 40px;
    width: 40px;
    border: 1px;
    border-radius: 50%;
    background-image: url(../img/not-favourite.png);
    background-size: cover;
}

article.wineCard > button.favourite {
    background-color: #ffbf00;
}

article.wineCard > button.not-favourite {
    background-color:inherit;
}



@media screen and (min-width: 480px) {
    .wineCard {
        display: inline-block;
        margin: 2%;
        box-shadow: 0px 4px 5px 3px grey;
    }
}
